.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.row:not(:last-child) {
    margin-bottom: 16px;
}

.form {
    width: 50%;
    max-width: 700px;
}

.form > * {
    margin: 5px;
    width: 25ch;
    max-width: 80%;
}

.main {
    width: 20%;
    padding: 10%;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.thumbnails ul {
    flex-wrap: nowrap;
    transform: translateZ(0);
}

.title {
    color: white;
}

.outerwrapper {
    position: relative;
    width: 50%;
    max-width: 700px;
}

.shadowedtext {
    position: absolute;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    color: white;
    text-transform: uppercase;
    word-wrap: break-word;
}

.normaltext {
    position: absolute;
    font-weight: normal;
    word-wrap: break-word;
}
